.header {
  display: flex;
  justify-content: space-between;

  height: 100px;
  padding: 0 10%;

  box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.15);
}


.logo {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.navbar {
  width: 100%;
  margin-right: 100px;
}

.navbar > ul {
  display: flex;
  justify-content: right;
  align-items: center;

  height: 100%;
  width: 100%;
  color: var(--blue);
  font-size: 1rem;
}

.nav-links {
  list-style: none;
  margin-right: 30px;
  cursor: pointer;
}

.register-container {
  display: flex;
  align-items: center;
}

.register-container .login-btn {
  margin-right: 30px;
  font-size: 1.3rem;
  color: var(--blue);
  cursor: pointer;
}

.register-container .register-btn {
  padding: 7px 15px;
  border-radius: 20px;
  font-size: 1.3rem;
  border: none;
  background-color: var(--yellow);
  color: white;
  cursor: pointer;
}

.register-container .login-btn:hover {
  color: var(--blue-light);
}

.register-container .register-btn:hover {
  background-color: var(--yellow-light);
  box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.15);
}
