<header
  class="header"
  [ngClass]="{'side-navbar': toggleBtnStatus()}">
  <button
    class="side-navbar-btn"
    (click)="onToggleBtnStatus()">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <img
    src="../../../../assets/images/logo-orange-red-resize.png"
    class="logo"
    alt="logo">
  <nav class="navbar">
    <ul class="open-sans-400">
      <li class="nav-links"><a routerLink="/parcels/quote" title="Cotizar envio">Cotizar envio</a></li>
      <li class="nav-links"><a routerLink="/parcels/make-parcel" title="Realizar envio">Hacer envio</a></li>
      <li class="nav-links"><a routerLink="/parcels/tracking-parcel" title="Seguimiento de envio">Seguir envio</a></li>
      <li class="nav-links"><a href="" title="Preguntas frecuentes">Ayuda</a></li>
    </ul>
  </nav>
  <div class="register-container">
    <p
      *ngIf="!getCustomer()"
      class="login-btn open-sans-400"
      routerLink="/auth/login">
      Ingresar
    </p>
    <div
      *ngIf="!getCustomer()"
      class="container-register-btn"
      routerLink="/auth/register">
      <p class="register-btn open-sans-600">
        Registrarse
      </p>
    </div>
    <div
      *ngIf="getCustomer()"
      class="container-logout-btn"
      (click)="logout()">
      <p class="logout-btn open-sans-600">
        Cerrar sesión</p>
    </div>
  </div>
</header>
