<header class="header">
  <img
    src="../../../../assets/images/logo-orange-red-resize.png"
    class="logo"
    alt="logo">
  <nav class="navbar">
    <ul class="open-sans-400">
      <li class="nav-links"><a href="" title="Realizar envio">Hacer envio</a></li>
      <li class="nav-links"><a href="" title="Seguimiento de envio">Seguir envio</a></li>
      <li class="nav-links"><a href="" title="Preguntas frecuentes">Ayuda</a></li>
    </ul>
  </nav>
  <div class="register-container">
    <p
      class="login-btn open-sans-400"
      routerLink="/auth/login">
      Ingresar
    </p>
    <div
      class="container-register-btn"
      routerLink="/auth/register">
      <p class="register-btn open-sans-600">
        Registrarse
      </p>
    </div>
  </div>
</header>
