.header {
  display: flex;
  justify-content: space-between;

  height: 80px;
  padding: 0 10%;

  box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.15);
}


.logo {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.navbar {
  height: 100%;
  margin-right: 50px;
}

.header .side-navbar-btn {
  display: none;
}

.header.side-navbar .side-navbar-btn {
  display: block;
  border: none;
  background-color: transparent;
}

.header.side-navbar .menu-icon {
  transform: scale(2);
  color: var(--yellow);
}

.header.side-navbar .navbar {
  display: none;
}

.navbar > ul {
  display: flex;

  height: 100%;
  width: 100%;
  color: var(--blue);
}

.nav-links {
  width: 170px;
  height: 100%;

  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

.nav-links > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  text-decoration: none;
  color: var(--blue);
  border-bottom: 5px solid transparent;
}

.nav-links > a:hover {
  font-weight: 700;
  border-bottom-color: var(--blue);
}

.register-container {
  display: flex;
  align-items: center;
}

.register-container .login-btn {
  margin-right: 10px;
  height: 100%;
  width: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.1rem;
  color: var(--blue);
  cursor: pointer;
  border-bottom: 5px solid transparent;
  transition: all 0.5s ease-out;
}

.register-container .container-register-btn {
  height: 100%;
  width: 120px;
  border-bottom: 5px solid transparent;

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: all 0.5s ease-out;
}

.register-container .register-btn {
  padding: 7px 15px;
  border-radius: 20px;
  border: none;

  font-size: 1.1rem;
  background-color: var(--yellow);
  color: white;
  transition: all 0.5s ease-out;
}

.register-container .login-btn:hover {
  background: linear-gradient(0deg, rgba(39,36,88,1) 5%, rgba(255,255,255,1) 100%);
  border-bottom-color: var(--blue);
  color: white;
}

.register-container .container-register-btn:hover {
  border-bottom-color: var(--yellow);
}

.register-container .container-register-btn:hover .register-btn {
  font-weight: 700;

  color: var(--yellow);
  background-color: white;
}
