<header class="header">
  <img
    src="../../../../assets/images/logo-orange-red-resize.png"
    class="logo"
    alt="logo">
  <nav class="navbar">
    <ul class="fredoka-300">
      <li class="nav-links">Hacer envio</li>
      <li class="nav-links">Seguir envio</li>
      <li class="nav-links">Preguntas frecuentes</li>
    </ul>
  </nav>
  <div class="register-container">
    <p class="login-btn fredoka-600">
      Ingresar
    </p>
    <button class="register-btn montserrat-600">
      Registrarse
    </button>
  </div>
</header>
