<shared-header></shared-header>
<section class="container">
  <img
    class="img-home-page"
    src="../../../../assets/images/person-moving-house-furniture.png"
    alt="image-home-page"
  />
  <div class="text-container">
    <div class="title-container">
      <!-- <h4 class="open-sans-700">COMISIONES</h4>
      <h1 class="open-sans-700">JUA - NIC</h1> -->
      <h4 class="open-sans-700">SERVICIO DE</h4>
      <h1 class="open-sans-700">COMISIONES</h1>
    </div>
    <div class="paraphs-container open-sans-400">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        hendrerit urna et euismod aliquet. Ut ut augue eu nulla consequat
        dignissim nec id erat. Sed non turpis non eros volutpat consectetur sed
        quis dolor
      </p>
      <!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        hendrerit urna et euismod aliquet. Ut ut augue eu nulla consequat
        dignissim nec id erat. Sed non turpis non eros volutpat consectetur sed
        quis dolor
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        hendrerit urna et euismod aliquet. Ut ut augue eu nulla consequat
        dignissim nec id erat. Sed non turpis non eros volutpat consectetur sed
        quis dolor
      </p> -->
    </div>
  </div>
</section>
